.container-all{
    width: 600px;
    height: 300px;
}
.container-title{
    background-color: rgb(29, 201, 43);
    flex-direction: row;
    display: flex;
    justify-content: space-between; 
    padding:15px 10px 15px 8px ;
    color: antiquewhite;
}
.title-left{
   display: flex;
   align-items: center;
    
}
.title-right{
    font-size: 10px;
    display: flex;
    gap: 20px;
}
.avata{
    margin-top: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.avata img{
    margin-left: 20px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
main{
    display: flex;
    align-items: center;
    height: 150px;
    width: 600px;
    background-color: aqua;
}
.content-project{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}
.projects{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.content{
    flex:1;
    background-color:rgb(29, 201, 43);
    border-radius: 3px;
    text-align: center;
}
footer{
    background-color: aqua;
    height: 40px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}