.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    position: relative;
}
.image img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 0px;
    object-fit: cover;
}
.label{
    width: 70px;
    height: 30px;
    background-color:transparent ;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid ;
    color: white;
    border-radius: 5px;
}
*{
    border-radius: 3px;
}
.avata{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avata img{
    border-radius: 50%;
    width: 40px;
}
.name{
    width:100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 400px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
footer{
    background-color: #F9FAFC;
    width: 400px;
}
.time{
    color:#949596;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}